<default>
    bot     = Mike's bot account
    sysop   = Mike.lifeguard
</defult>

<bot Mike's bot account>
    password    = fake password
    wiki        = enwikibooks
</bot>
<bot "Mike's testing account">
    password    = fake password
    wiki        = enwikibooks
</bot>
<sysop Mike.lifeguard>
    password    = pass
    wiki        = enwikibooks
</sysop>
